<h3>Leave a rating for <%= rating.page.name %></h3>

<%= form_for rating do |f| %>
  
  <div class="raty new"></div>

  <%= f.label :name, 'Your name' %>
  <%= f.text_field :name %><br />

  <%= f.label :summary, 'Brief summary' %>
  <%= f.text_field :summary %><br />

  <%= f.label :content, 'Comments' %><br />
  <%= f.text_area :content %><br />

  <%= f.hidden_field :page_id, :value => rating.page.id %>

  <%= f.submit %>
<% end %>