<%= div_for rating do %>
  <div class="raty show" data-score="<%= rating.rating %>"></div>
  <span class="author"><%= rating.name %></span>
  <span class="summary"><%= rating.summary %></span>
  <div class="content"><%= rating.content %></span>
<% end %>